# Python
venv/
compliance-backend/venv/
__pycache__/
*.pyc

# Node
node_modules/

# Env
.env

# Ignore uploaded images but keep folder
backend/uploads/*
!backend/uploads/.gitkeep

backend/*.jpg
backend/*.png
backend/*.jpeg


